


<div class="posts" data-id="{{post.id}}">
<h3>{{post.title}}</h3>
<p>uploaded by {{userData.name}} on {{post.date_created}}</p>
<div>
<p>{{post.description}}</p>
</div>


{{#each selectedPost}}
<div>
    <h2>{{'comments.user.name'}}</h2>
    <p>{{'comments.description'}}</p>
</div>
{{/each}}


<form action="/newcomment{{post.id}}" method="POST">
  <textarea type="text" id="comment" name="comment">add your comment here</textarea>
  <input type="submit" value="submit">
</form>

</div>