


{{#each userPosts}}
<div class="posts" data-id="{{id}}">
<h3>{{title}}</h3>
<p class="info">uploaded by <strong>{{'user.name'}}</strong> on {{date_created}}</p>
<div>
<p>{{description}}</p>
</div>

<a class="view-post" href="comment{{id}}">view post</a>

</div>
{{/each}}



